@implements IAsyncDisposable
@inject IJSRuntime JS

<div class="row g-0">
	<div class="col-6 pe-1">
		<div class="border rounded p-2 diff-pane" @ref="_pane1">
			@foreach (var line in DiffLines)
			{
				@if (line.Type == DiffType.Added)
				{
					<div class="diff-added">&nbsp;</div>
				}
				else
				{
					var css = line.Type == DiffType.Removed ? "diff-removed" : "";
					<div class="@css">
						@if (ShowLineNumbers)
						{
							<span class="diff-line-number">@(line.Line1?.ToString() ?? "")</span>
						}
						@if (line.InlineSpans is not null && line.Type == DiffType.Removed)
						{
							@foreach (var span in line.InlineSpans)
							{
								@if (span.IsChanged)
								{
									<span class="diff-word-removed">@span.Text</span>
								}
								else
								{
									@span.Text
								}
							}
						}
						else
						{
							@line.Content
						}
					</div>
				}
			}
		</div>
	</div>
	<div class="col-6 ps-1">
		<div class="border rounded p-2 diff-pane" @ref="_pane2">
			@foreach (var line in DiffLines)
			{
				@if (line.Type == DiffType.Removed)
				{
					<div class="diff-removed">&nbsp;</div>
				}
				else
				{
					var css = line.Type == DiffType.Added ? "diff-added" : "";
					<div class="@css">
						@if (ShowLineNumbers)
						{
							<span class="diff-line-number">@(line.Line2?.ToString() ?? "")</span>
						}
						@if (line.InlineSpans is not null && line.Type == DiffType.Added)
						{
							@foreach (var span in line.InlineSpans)
							{
								@if (span.IsChanged)
								{
									<span class="diff-word-added">@span.Text</span>
								}
								else
								{
									@span.Text
								}
							}
						}
						else
						{
							@line.Content
						}
					</div>
				}
			}
		</div>
	</div>
</div>

@code {
	[Parameter] public List<DiffLine> DiffLines { get; set; } = [];
	[Parameter] public bool ShowLineNumbers { get; set; } = true;

	private ElementReference _pane1;
	private ElementReference _pane2;
	private IJSObjectReference? _jsModule;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			_jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/scrollsync.js");
			await _jsModule.InvokeVoidAsync("syncScroll", _pane1, _pane2);
		}
	}

	async ValueTask IAsyncDisposable.DisposeAsync()
	{
		try { if (_jsModule is not null) await _jsModule.DisposeAsync(); }
		catch (JSDisconnectedException) { }
	}
}
